<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>myproject</display-name>
	<listener>
		<listener-class>com.autocreation.AutoCreate</listener-class>
	</listener>
	<servlet>
		<servlet-name>SaveMessage</servlet-name>
		<display-name>SaveMessage</display-name>
		<description></description>
		<servlet-class>com.controller.SaveMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMessage</servlet-name>
		<display-name>DeleteMessage</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEdu</servlet-name>
		<display-name>AddEdu</display-name>
		<description></description>
		<servlet-class>com.controller.AddEdu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProject</servlet-name>
		<display-name>AddProject</display-name>
		<description></description>
		<servlet-class>com.controller.AddProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadResume</servlet-name>
		<display-name>UploadResume</display-name>
		<description></description>
		<servlet-class>com.controller.UploadResume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveMessage</servlet-name>
		<url-pattern>/SaveMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>/DeleteMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEdu</servlet-name>
		<url-pattern>/AddEdu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProject</servlet-name>
		<url-pattern>/AddProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadResume</servlet-name>
		<url-pattern>/UploadResume</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
